@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1200px;
  margin: auto;
}

.navbar {
  background-color: #fffbf8;
}

.navbar li {
  list-style: none;
  margin: 10px;
  font-size: larger;
  font-weight: 500;
  color: #3498db;
}

.navbar li:hover {
  color: #083857;
}

.navimg {
  width: 80px;
}

.home {
  width: 100%;
  max-height: 90vh;
  margin-bottom: 20px;
}

.image-container .image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  text-align: center;
}
.card {
  width: 90%;
  margin: auto;
}

.card-img {
  max-height: 500px;
  width: 600px;
}

.footer {
  margin-top: 30px;
}

.footer li {
  margin: 20px;
}

.sidebar li {
  color: rgb(247, 247, 247);
  background-color: #083857;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-align: center;
}
.sidebar li:hover {
  color: rgb(247, 247, 247);
}

.restaurant {
  margin-top: 30px;
}

.restaurants-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.restaurant-item {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 350px;
  height: 250px;
}

.right-contact {
  background-image: url("https://images.unsplash.com/photo-1512428559087-560fa5ceab42?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGNvbnRhY3R8ZW58MHx8MHx8fDA%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  color: rgb(2, 0, 0);
}
